<div id="carousel" class="carousel mb-5 w-75 slide carousel-dark container-fluid rounded" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
    <div class="d-flex p-3 flex-column justify-content-center align-items-center rounded" style="height: 200px; background: #eee;">
        <img src="/img/copy-emojis-sl1.png" class="d-block mw-100 mh-100 rounded" alt="Emoji Copy">
    </div>
</div>
    <div class="carousel-item ">
      <div class="d-flex justify-content-center align-items-cente rounded" style="height: 200px; background: #ddd;">
        <h1>Slide B</h1>
      </div>
    </div>
  </div>
  
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>