@if (loading()) {
    <div class="vh-100 justify-content-center align-items-center d-flex">
        <h2>Cargando...</h2>
    </div>
} @else {
    <div class="p-5">
        
       @if (emojiSelect(); as selected) {
    <div class="card p-4 shadow-sm">
        <button class="btn btn-outline-secondary mb-3 w-auto" (click)='closeDetail()'>
            Back to the list
        </button>
        
        <div class="text-center">
            <div style="font-size: 5rem;" [innerHTML]="selected.htmlCode[0]"></div>
            <h2 class="mt-3">{{ selected.name }}</h2>
            <p class="text-muted">Category: {{ selected.category }}</p>
            <p>Grupo: {{ selected.group }}</p>
            
            <button 
                [class]="emojiCopied() === selected.name ? 'btn btn-success' : 'btn btn-primary'"
                (click)="copyEmoji(selected.htmlCode[0], selected.name)">
                {{ emojiCopied() === selected.name ? '¡Copied!' : 'Copy emoji' }}
            </button>

            <button (click)="addEmoji(selected)" type="button" class="btn btn-outline-info">
                + Add favs
            </button>
        </div>
    </div>

        } @else {
            <h1 class="mb-4">All emojis</h1>
            <div class="row g-3">
                @for (item of items(); track item.name) {
                    <div class="col-6 col-md-2 border border-dark d-flex flex-column justify-content-center p-3">
                        <span (click)="showDetailEmoji(item)" 
                              class="align-self-center display-4 mb-2" 
                              style="cursor: pointer;"
                              [innerHTML]="item.htmlCode[0]">
                        </span>

                        @if (emojiCopied() === item.name) {
                            <button class="btn btn-success w-100" (click)="copyEmoji(item.htmlCode[0], item.name)">
                                ¡Copied!
                            </button>
                        } @else {
                            <button class="btn btn-primary w-100" (click)="copyEmoji(item.htmlCode[0], item.name)">
                                Copy
                            </button>
                        }
                    </div>
                }
            </div>
        }
    </div>
}